@use "../../sass/variables" as *;

.checkoutH2 {
    color: $contrast-color;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.button {
    align-items: center;
    display: flex;
    justify-content: center;

    button {
        font-size: 24px;
        font-weight: 700;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}