$header-background: #2d2d2d;
$black: #000;
$white: #ffffff;
$border-input-color: 1px solid #b7b7b7;
$contrast-color: #0C70F2;
$border-background-card: #7a7a7a;
$border-bottom: 1px solid #0C70F2;
$test: #ce2634;