@use "../../sass/variables" as *;

.header-modal {
    border-bottom: 1px solid #fff;
    opacity: 0.4;

    &__nav{
        ul {
            align-items: center;
            display: flex;
            justify-content: space-around;
    
        }
        li {
            color: $white;
            cursor: default;
            font-size: 30px;
            font-weight: 600;
            list-style: none;
            padding: 25px 0;
            position: relative;      
        }
    }
    &__cart{
        cursor: default;
        height: 40px;
    }
}

input:disabled {
    background-color: #fff;
}

